node_modules
bower_components
public
themes/nano/source/build/*
!themes/nano/source/build/jquery.js
!themes/nano/source/build/jquery.min.js
!themes/nano/source/build/ptserif.woff.css
!themes/nano/source/build/ptserif.woff2.css
db.json
