.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
public/*.html
public/build/*.js
public/build/*.css
node_modules/
.idea/
.vscode/
/public/en
/public/ru
/public/build/*.js
/public/build/*.css
!/public/build/ptserif.woff.css
!/public/build/ptserif.woff2.css
yarn.lock
.eslintcache
.cache/
public/
