// Author: Artem Sapegin, http://sapegin.me, 2015

.search-form {
	space(1);
	
	&__field {
		width:100%;
		padding:.1em .3em;
		font-size:1.25rem;
		background:transparent;
		border:0;
		border-bottom:1px solid lighter_color;

		&:focus {
			outline:0;
			border-color:base_color;
		}
	}
}
