/** Author: Artem Sapegin, http://sapegin.me, 2012 */

// Variables
max-width = 800px;
sticky-footer-height = 30px;
spacer = 10px;
base-color = #333;
bg-color = #fffef6;
link-style = "gradient";
link-underline-position = 90%;
link-color = #428ad3;
visited-color = #8f7cb6;
hover-color = #f78520;
link-underline-color = rgba(link-color,.4);
visited-underline-color = rgba(visited-color,.4);
hover-underline-color = rgba(hover-color,.4);
code_default_skin = true;

@import 'social-likes.css'
@import 'tamia'
@import 'blocks/media'
@import 'blocks/richtypo'
@import 'blocks/code'
@import 'styles'
@import 'tomorrow'
