/** Author: Artem Sapegin, http://sapegin.me, 2012 */

// Variables
max_width = 800px;
sticky_footer_height = 30px;
spacer = 10px;
base_color = #333;
bg_color = #fffef6;
link_color = #428ad3;
visited_color = #8f7cb6;
hover_color = #f78520;
code_default_skin = true;

@import 'social-likes.css'
@import 'tamia'
@import 'modules/media'
@import 'modules/richtypo'
@import 'modules/code'
@import 'styles'
