// Squirrelstrap. В© 2012 Artem Sapegin http://sapegin.me
// Functions and mixins

//
// Properties shortcuts
//

// Simple CSS3 properties with vendor prefixes

box-sizing()
	-webkit-box-sizing arguments  // <=iOS4, <= Android 2.3
	-moz-box-sizing arguments  // FF1+
	box-sizing arguments  // Chrome, IE8, Opera, Safari 5.1

box-shadow()
	-webkit-box-shadow arguments  // Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+
	box-shadow arguments  // Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5

transition()
	-webkit-transition arguments  // Saf3.2+, Chrome
	-moz-transition arguments  // FF4+
	-o-transition arguments  // Opera 10.5+
	transition arguments

transform()
	-webkit-transform arguments  // Saf3.1+, Chrome
	-moz-transform arguments  // FF3.5+
	-ms-transform arguments  // IE9
	-o-transform arguments  // Opera 10.5
	transform arguments

perspective()
	-webkit-perspective arguments  // Saf4+, Chrome 12+
	-moz-perspective arguments  // FF10+
	-ms-perspective arguments  // IE10+
	perspective arguments

animation()
	-webkit-animation arguments  // Saf5, Chrome
	-moz-animation arguments  // FF5+
	-o-animation arguments  // Opera 12+
	animation arguments

user-select()
	-webkit-user-select arguments
	-moz-user-select arguments
	-ms-user-select arguments  // IE10+
	user-select arguments


// Gradients
// https://github.com/LearnBoost/stylus/issues/245

replace(str, a, b)
	str = clone(str)
	for e, i in str
		if length(e) > 1
			str[i] = replace(e, a, b)
		else
			if a == e
				str[i] = b
	str

linear-gradient()
	prop = current-property[0]
	val = current-property[1]
	args = unquote(join(', ', arguments))
	add-property(prop, replace(val, '__CALL__', '-webkit-linear-gradient(%s)' % args))  // Chrome 10+, Saf5.1+, iOS 5+
	add-property(prop, replace(val, '__CALL__', '-moz-linear-gradient(%s)' % args))  // FF3.6+
	add-property(prop, replace(val, '__CALL__', '-o-linear-gradient(%s)' % args))  // Opera 11.10+
	g = 'linear-gradient(%s)' % args
	g


// Opacity
opacity(n)
	opacity n
	val = round(n * 100)
	if val == 100
		filter none
	else
		filter 'alpha(opacity=%s)' % val


// Colors

// Changes color opacity
hslaa(color, opacity)
	rgba(red(color), green(color), blue(color), opacity)

// White color with transparency
white(opacity)
	rgba(255, 255, 255, opacity)

// Black color with transparency
black(opacity)
	rgba(0, 0, 0, opacity)


//
// Helper functions
//

// Text selection
text-selection(color, background)
	::-moz-selection
		color color
		background background
		text-shadow none
	::selection
		color color
		background background
		text-shadow none


//
// Mixins
//

// Clearfix
// https://github.com/visionmedia/nib/blob/master/lib/nib/clearfix.styl
clearfix()
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
		zoom 1

// Ellipsis
ellipsis()
	overflow hidden
	text-overflow ellipsis
	white-space nowrap

// Remove columns
nocols()
	display block
	float none
	width auto

/* Font icons:
.ficon
	font-icon(IcoMoon)

	&_icon:before {
		content:"\c0ffee";
	}
*/
font-icon(font)
	display inline-block
	font-family font
	font-style normal
	speak none
	-webkit-font-smoothing antialiased
	&:link, &:visited, &:hover, &:active, &:focus
		text-decoration none
		border none
		background-image none
	span
		display none
		.no-generatedcontent &
			display block
