.root {
	font-size: var(--smallFontSize);
	text-align: center;
}

.copyright {
	margin-bottom: calc(var(--spacer) * 0.5);
}

@media (--small) {
	.root {
		display: flex;
	}

	.powered {
		margin-left: auto;
	}
}
