.root {
	text-align: center;
}

.item {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: inherit;
	font-weight: inherit;
}

:global(.is-active) {
	background-image: none;
}

@media (--small) {
	.root {
		font-size: var(--bigFontSize);
	}

	.item {
		margin-left: 0.65em;
		margin-right: 0.65em;
	}
}
