.root {
	margin-bottom: var(--spacer);
}

.field {
	width: 100%;
	padding: 0.1em 0.3em;
	font-size: var(--bigFontSize);
	background: transparent;
	border: 0;
	border-bottom: 1px solid var(--lightColor);
}

.field:focus {
	outline: 0;
	border-color: var(--baseColor);
}
