modules_default_skin = false;
text_default_headings = false;
code_default_skin = true;
spacer = .6rem;
max_width = 800px;
sticky_footer_height = 30px;
base_color = #333;
bg_color = #f9f8f6;
link_style = "gradient";
link_color = base_color;
visited_color = base_color;
hover_color = #f5a131;
light_color = black(.5);
lighter_color = black(.25);
selection_color = #faedb1;
text_font = "PT Serif", Georgia, serif;
