modules_default_skin = false;
text_default_headings = false;
max_width = 50rem;
sticky_footer_height = 30px;
spacer = .6rem;
base_color = #333;
bg_color = #f9f8f6;
link_color = #71a2c0;
visited_color = #8f7cb6;
hover_color = #f5a131;
light_color = black(.5);
lighter_color = black(.25);
selection_color = #faedb1;
code_default_skin = true;
