modules_default_skin = false;
text_default_headings = false;
spacer = .6rem;
max_width = 800px;
sticky_footer_height = 30px;
base_color = #333;
bg_color = #f9f8f6;
link_style = "gradient";
link_color = base_color;
visited_color = base_color;
hover_color = #f5a131;
light_color = black(.5);
lighter_color = black(.25);
selection_color = #faedb1;
text_font = "PT Serif", Georgia, serif;

// Theme generator: http://jsbin.com/xefuyabeco/edit?js,console,output
code_default_skin = true;
code_font = inherit;
code_base_color = #485e76;
code_bg_color = transparent;
code_border = 0;
code_border_radius = 0;
code_padding = 0;
code_theme_0 = #a5abb1;
code_theme_1 = #d1887b;
code_theme_2 = #ab5244;
code_theme_3 = #537397;
code_theme_4 = #c15847;
code_theme_5 = #8caacb;
code_theme_6 = #5e89b9;
