@import "~tamia/lib/styles/index.pcss";
@import "~tamia/lib/styles/print.pcss";
@import "~tamia/lib/styles/classes/code.pcss";
@import "~tamia/lib/styles/classes/hljs.pcss";

body {
	padding-top: calc(var(--spacer) * 1);
	padding-bottom: calc(var(--spacer) * 0.5);
	line-height: 1.5;
}
