// Author: Artem Sapegin, http://sapegin.me, 2015

body {
	margin-side:auto;
	padding-top:2*spacer;
	padding-side:3*spacer;
	background:bg_color;
	color:base_color;
	line-height:1.5;
	font-size:16px;
	max-width:max_width;
}
+below(550px) {
	body,
	.footer-i {
		padding-side:2*spacer;
	}
}


// Fonts

body {
	font-family:"PT Serif", Georgia, serif;
}


// Links

.blind-link {
	transition:border .1s ease-in-out, color .2s ease-in-out, background .2s ease-in-out;

	+link-non-hovers() {
		color:base_color;
	}
	+link-hovers() {
		color:hover_color;
	}
}

// Text

.text {
	a {
		@extend .link;
	}

	h2,
	h3 {
		font-size:1em;
	}
	h2 {
		font-weight:bold;
	}
	h3 {
		font-weight:normal;
		font-style:italic;
	}

	pre code {
		border:solid lighter_color;
		border-width:1px 0;
		border-radius:0;
	}

	hr {
		space(2);
		border:solid lighter_color;
		border-width:0 0 1px;
	}
	
	.screenshot_win {
		margin-side:-13px;
	}
	.screenshot_mac {
		margin:-10px -56px -20px;
	}
	
	+below(max_width) {
		pre code {
			margin-side:-(spacer);
		}
		.screenshot {
			margin:auto;
		}
	}
	+below(550px) {
		line-height:1.5;
	}
}


// Misc

.page-title {
	space(2);
	font-size:1.4rem;	
	font-weight:normal;
}

.marked {
	margin:0 -.5ex;
	padding:.25ex .5ex;
	border-radius:.3em;
	background:hsla(52,96%,67%,.6) !important;
}

.blog-intro {
	space(3);
	font-size:1.2rem;
	font-style:italic
}

// Tweak Social Likes

.social-likes {
	margin-side:-.26em;
}
.social-likes__widget {
	margin-side:.26em;
}
